page-attendance {
  div.a{
  background: #F44336;
}
div.b{
  background: #E91E63;
}
div.c{
  background: #9C27B0;
}
div.d{
  background: #673AB7;
}
div.e{
  background: #009688;
}
.toolbar-background {
  background: #303F9F;

}
.item-md ion-icon[item-end] {
  position: absolute;
  right: 28px;
  top: -3px;
}
}