<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Assignment
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" strong>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">

    <ion-list no-lines>
      <ion-item style="border-bottom: 1px solid #ddd">
        <ion-label floating>Title <span style="color: red">*</span> </ion-label>
        <ion-input [(ngModel)]="subject" name="subject" type="text"></ion-input>
      </ion-item>
      <ion-item style="border-bottom: 1px solid #ddd">
        <ion-label floating>Due date <span style="color: red">*</span> </ion-label>
        <ion-input [(ngModel)]="enddate" type="date" min="{{today}}"></ion-input>
      </ion-item>
      <ion-item style="border-bottom: 1px solid #ddd">
        <ion-label floating>Description</ion-label>
        <ion-textarea #ionTxtArea placeholder='{{placeholder}}' [(ngModel)]="description"></ion-textarea>
      </ion-item>
      <div class="row" style="padding: 10px;padding-bottom:0px">
        <div class="col">
          <p style="text-align: justify;font-size: 14px;width: 100%;font-weight: 500;">Upload Your Files</p>
          <p style="text-align: justify;font-size: 12px;width: 100%">(Select Format: .pdf, .docx, .doc, .jpg, .png)</p>
        </div>
      </div>
      <ion-list *ngFor="let item of files">
        <ion-item *ngIf="files">
          <ion-icon *ngIf="item.extension == 'pdf'" name="ios-paper-outline" style="color: red; " item-start></ion-icon>
          <ion-icon *ngIf="item.extension == 'doc'" name="ios-document-outline" style="color: blue; " item-start></ion-icon>
          <ion-icon *ngIf="item.extension == 'png'" name="ios-image-outline" style="color: red; " item-start></ion-icon>
          <p style="text-align: justify;font-size: 14px;width: 100%">{{item.filename}}</p>
        </ion-item>
      </ion-list>
      <button ion-button style="height: 3rem;background-color: #16a085;color: white;    float: left;    margin-left: 15px;margin-bottom:12px" color="secondary" (click)="uploadfile()">Upload</button>
    </ion-list>
    <div padding>
      <button ion-button full type="submit" (click)="adddassignment()">Save</button>
    </div>
 
</ion-content>
