<ion-header>
  <ion-navbar>
    <ion-title>Discussion</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item style="padding:2px;    padding-left: 10px;" *ngIf="disdetail">
      <h2 style="color:rgb(45, 119, 245);font-size: 15px;margin:0 0 0px 4px;white-space:normal">{{disdetail.subject}}</h2>
      <div class="row" style="padding:0px">
        <div class="col">
          <span style="font-size:12px;color:grey;"><ion-icon name="ios-calendar-outline" style="padding-right: 5px"></ion-icon>{{disdetail.datecreated | date}}</span>
        </div>
      </div>
      <div class="row" style="padding:0px">
        <div class="col">
          <span style="font-size:12px;color:grey;">Posted By {{disdetail.staff.firstname}} {{disdetail.staff.lastname}}</span>
        </div>
      </div>
      <div class="row" style="padding:0px">
        <div class="col">
          <span style="font-size:12px;color:grey;">Total Comments : {{disdetail.discussion.length}}</span>
        </div>
      </div>
    </ion-item>
  </ion-card>
  <ion-card>
    <div class="row" style="border-bottom: 1px solid #ddd;background: #ddd">
      <div class="col">
        <p style="float: left;    padding-left: 5px;  font-weight: 500; text-transform: uppercase; padding-top: 8px; font-size: 12px;">Reply Messages</p>
      </div>
    </div>
    <ion-list no-lines *ngIf="disdetail">
      <ion-item style="border-bottom: 1px solid #ddd;" *ngFor="let item of discussioncomments">
        <ion-avatar item-start>
          <img *ngIf="item.imagepath" src={{item.imagepath}}>
          <img *ngIf="!item.imagepath" src="assets/img/profile-icon-9.png">
        </ion-avatar>
        <h2>{{item.PostedBy}}</h2>
        <ion-note item-end>{{item.created | amTimeAgo}}</ion-note>
        <p style="    text-overflow: none;">{{item.content}}</p>
         <ion-item *ngIf="item.file_name">
         <ion-icon *ngIf="item.extension == 'pdf'" name="ios-paper-outline" style="color: red; " item-start></ion-icon>
          <ion-icon *ngIf="item.extension == 'doc'" name="ios-document-outline" style="color: blue; " item-start></ion-icon>
          <ion-icon *ngIf="item.extension == 'png'" name="ios-image-outline" style="color: red; " item-start></ion-icon>
        <p style="text-align: justify;font-size: 14px;width: 100%" (click)="view_link(item.file_name)">{{item.file_name}}</p>
      </ion-item>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <div ion-row style="    border-top: 1px solid #ddd;">
    <div ion-col col-8>
      <ion-input [(ngModel)]="skillInput" placeholder="Add Private comment" name="skillValue"></ion-input>
    </div>
    <div ion-col col-2 style="text-align: right;">
      <ion-icon (click)="sendattachement()" name="md-attach" style="padding: 10px; font-size: 25px;"></ion-icon>
    </div>
    <div ion-col col-2 style="text-align: right;">
      <ion-icon (click)="sendcomment(skillInput)" name="md-send" style="padding: 10px; font-size: 25px;"></ion-icon>
    </div>
  </div>
</ion-footer>
