page-examquestion {
div.a{
  background: #F44336;
}
div.b{
  background: #E91E63;
}
div.c{
  background: #9C27B0;
}
div.d{
  background: #673AB7;
}
div.e{
  background: #009688;
}
.fab-md {
    color: #fff;
    background-color: #6f4fca;
    }

}
